.titulo {
    padding:  0em 0em 0.1em 0em ;              
    }

    .fondo { 
    background-color: #d8e38c; 
    }


    body {
        margin: 0px;
        padding: 0px;
        min-height: 100vh;
        background-color: #c3dcfe;
    }

   
.titulo h1{
    text-align: center;
    font-size: 3em;
    color: #bb9344;
    margin: 0px;
}

.diario {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #c3dcfe;
    justify-content: space-between;
    height: 100%;

}

.menuu {
    text-align: center;
    background-color: #c3dcfe;
    
}

.menuu2 {
    text-align: center;
    background-color: #c3dcfe;
    }
.tarjeta {
    width: 55em;
    margin: 0.em;
    padding: 0.0em;
    border-radius: 0.6em;
    min-width: 74%;
  
}

.marcoTarjeta {
    padding: 0em;
    border-radius: 0.6em;
    background-color: #c3dcfe;
    margin: auto;
    align-content: center;
}

.imagen {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.2em 0.2em 0.2em 0.2em;
    align-content: center;
    
    }

.textTarjeta {
    background-color:  #c3dcfe;
    padding: 1.5em;
    border-radius: 0 0 0.5em 0.5em;
    margin: 0 0 0 0;
}

.tituloNoticia {
text-align: center;
font-size: 2.5em;
margin: 0 0 0 0;

}

.desarrolloNoticia {
color: #6673a8;
text-align: center;


}

.tarjetaIndex {
    width: 15em;
    background-color:  #c3dcfe;
    margin: 0.5em;
    padding: 0.1em;
    border-radius: 0.6em;
    min-width: 5%;
    min-height: 100%;
  
}

.marcoTarjetaIndex {
    padding: 0.5em;
    border-radius: 0.6em;
    background-color: #c3dcfe;
    margin: auto;
    align-content: center;
}

.textTarjetaIndex {
    background-color:  #c3dcfe;
    padding: 0.1em;
    border-radius: 0 0 0.5em 0.5em;
    margin: 0.2em 0 0 0;
    

}


.tarjetaIndex h3 {
    text-align: justify;
    font-size: 17px;
    font-style: italic;
    
}


#linkIndex{
    text-align: right;
}


.nombreItemIndex {
    text-align: center;
}

.tituloNoticiaIndex {
text-align: center;
font-size: 2.5em;
margin: 0 0 0 0;

}

.desarrolloNoticiaIndex {
color: #2c5463;
text-align: justify;

}



.derecho {
    width: 18em;
    background-color:  #c3dcfe;
    margin: 0.1em;
    padding: 0em;
    border-radius: 0.6em;
    min-width: 15%;
     
}

.marcoTarjetaDerecho {
    padding: 0em;
    border-radius: 0.6em;
    background-color:  #c3dcfe;
    margin: 0 0 0 0;
    position: fixed;
    max-width: 16em;
   
    
}

.textTarjetaDerecho {
    background-color: #c3dcfe;
    padding: 0em;
    border-radius: 0 0 0.5em 0.5em;
    margin: 0em 0 0 0;
    max-width: 100%;
    
}

.tituloDerecho {
text-align: center;
font-size: 2.5em;
margin: 0 0 0 0;

}

.descripcionDerecho {
color: #2c5463;
}


.links { 
    text-align: right;
}

.linkIndex { 
    text-align: right;
}

.cuerpo {
    text-align: justify;
    text-indent: 2em;
    font-size: medium;

    
}

.tituloNoticias h2{
    text-align: center;
    font-size: 2.8em;
    color: #2c5463;

}


.tarjetaIndex a:visited, .tarjetaIndex a:link, .tarjetaIndex a:active {
    text-decoration: none;
    color: #2c5463;
}


.tarjetaIndex:hover {
    box-shadow: 5px 5px 10px #2c5463 ;
    transition: 0.5s;
}

.tarjetaIndex {
    transition: 0.5s;
}

.menuu a:visited, .menuu a:link, .menuu a:active {
    text-decoration: none;
    color: #2c5463;
}

.menuu a:hover {
    box-shadow: 5px 5px 10px #2c5463;
    transition: 0.5s;
}

.menuu a {
    transition: 0.5s;
}


.menuu2 a:visited, .menuu2 a:link, .menuu2 a:active {
    text-decoration: none;
    color: #2c5463;
}

.menuu2 a:hover {
    box-shadow: 5px 5px 10px #2c5463 ;
    transition: 0.5s;
}

.menuu2 a {
    transition: 0.5s;
}


.derecho a:visited, .derecho a:link, .derecho a:active {
    text-decoration: none;
    color: #2c5463;
    font-size: 15px;
}

.ultNot {
    height: 100%;
}
